/* Place the navbar at the bottom of the page, and make it stick */
.nav__bar {
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.nav__bar a {
  color: #040303;
  text-align: start;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px;
  margin: 0px 4px;
}

/* Change the color of links on hover */
.ho__ver ul li a:hover {
  background-color: rgba(163, 151, 243, 0.622);
  color: rgb(0, 0, 0);
}

#icon1, #icon2, #icon3, #icon4, #icon5{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav__bar a i{
    padding: 2px;
    margin: 0px 4px;
}




